h1 Some quotes

blockquote
    p It's the damn users. They've ruined every program I've ever created.
    footer
        | - 
        cite: a(href='http://blog.codinghorror.com/the-gamification/', target='_blank') coding horror

blockquote
    p There is no cloud. Just other people's computers.
    footer
        | - 
        cite
            a(href='https://twitter.com/xdamman/status/538394792540254208', target='_blank') Xavier Damman
            | via 
            a(href='https://twitter.com/FSFEfrance/status/537568853979832320' target='_blank') FSFE (France)

blockquote
    p.
        As an online discussion grows longer, the probability of a comparison 
        involving Nazis or Hitler approaches 1
    footer
        | - 
        cite: a(href='http://en.wikipedia.org/wiki/Godwin%27s_law', target='_blank') Godwin's law

blockquote
    p.
        Less experienced/idealistic developers necessarily tend to 
        tick things off as "done" as soon as they have something working 
        in order to be able to move onto the next thing at the appointed time 
        (and be seen to be "on top of things" by their managers).
    footer
        | - 
        cite
            a(href='http://www.quora.com/Simon-Hayes-3', target='_blank') Simon Hayes
            | in a 
            a(href='http://www.quora.com/Why-do-professional-programmers-write-their-code-in-such-a-way-as-to-make-it-hard-to-understand/answer/Simon-Hayes-3?srid=X3dQ&share=1', target='_blank') Quora answer
 
blockquote
    p.
        He was great not because he had the best tools, 
        the most efficient or the most effective technique, 
        but because he took a great pride and satisfaction in his job.
        His work was - it was clear - not merely something he did 
        but something he enjoyed 
        and something that was a reflection on him as an individual.
    footer
        | - 
        cite: a(href='http://www.quora.com/Is-it-extremely-hard-to-be-a-really-good-programmer/answer/Kristoph-Cichocki-Romanov?srid=nvqu&share=1', target='_blank') Kristoph Cichocki-Romanov
